.info-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.info-button-position {
    margin-left: 25.7rem;
    position: relative;
    top: -1.2rem;
}

.reqApp {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

.popup-widnow {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease-in-out;
    border: 3px dashed green;
}

.content {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.close {
    position: absolute;
    top: -70px;
    right: -60px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: rgb(253, 65, 52);
}